[defaults]
inventory           = inventory/hosts
host_key_checking   = False
retry_files_enabled = False
forks               = 10          # Run updates on 10 servers in parallel
timeout             = 60
log_path            = ./ansible.log

[privilege_escalation]
become        = true
become_method = sudo
become_ask_pass = false
