[defaults]
inventory        = inventory/hosts
host_key_checking = False
retry_files_enabled = False

# Always prompt for vault password on execution
# Remove this line and use --vault-password-file for automation
ask_vault_pass = True

[privilege_escalation]
become       = false
become_method = sudo
